<div class="px-3 animate-pulse">
  <div class="grid grid-cols-1 sm:grid-cols-2 mb-2">
    <div class="bg-gray-400 h-96 w-10/12 mat-elevation-z2"></div>
    <div>
      <div class="bg-gray-400 h-9 w-8/12 rounded-full mb-6"></div>
      <div class="bg-gray-400 h-10 w-4/12 rounded-full mb-6"></div>
      <div class="bg-gray-400 h-7 w-10/12 rounded-full mb-3"></div>
      <div class="bg-gray-400 h-7 w-10/12 rounded-full mb-3"></div>
      <div class="bg-gray-400 h-7 w-10/12 rounded-full mb-3"></div>
      <div class="bg-gray-400 h-7 w-10/12 rounded-full mb-3"></div>
      <div class="bg-gray-400 h-7 w-10/12 rounded-full"></div>
    </div>
  </div>
  <div class="border-2 p-2">
    <div class="bg-gray-400 h-6 w-full rounded-full mb-2"></div>
    <div class="bg-gray-400 h-6 w-full rounded-full mb-2"></div>
    <div class="bg-gray-400 h-10 w-32 rounded-full"></div>
  </div>
</div>