
<div class="container">
  <ng-container *ngFor="let item of data">
    <ng-container [ngSwitch]="item.type">
      <img *ngSwitchCase="'banner'" class="w-100" [src]="item.data" alt="">

      <app-spots *ngSwitchCase="'spots'" [spots]="$any(item.data)" ></app-spots>

      <ng-container *ngSwitchCase="'products'" >
        <app-product-group
          *ngFor="let productGroup of $any(item.data)"
          [productGroup]="productGroup" >
        </app-product-group>
      </ng-container>

    </ng-container>
  </ng-container>
</div>