:host {
  display: block;
  padding-top: 40px;

  .character {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
  
    img {
      border-radius: 4px;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div:last-child {
      flex-grow: 1;
    }
  }
}