<mat-card class="p-0 flex flex-col text-center animate-pulse">
  <div class="bg-gray-400" style="height: 243px; width: 243px;"></div>
  <mat-card-content class="p-2 mb-0 flex flex-col flex-grow items-center justify-between">
    <div class="bg-gray-400 h-5 w-10/12 rounded-full mb-1"></div>
    <div>
      <div class="bg-gray-400 h-4 w-24 rounded-full mx-auto mb-2"></div>
      <div class="bg-gray-400 h-8 w-32 rounded-full mx-auto"></div>
    </div>
  </mat-card-content>
  <mat-card-actions class="h-16">
    <div class="bg-gray-400 h-5 w-24 rounded-full mx-auto"></div>
  </mat-card-actions>
</mat-card>