.poster {
  max-width: 100%;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4;

  .card {
    @apply flex flex-col;
  }
}
