<div class="container pt-4">

  <glx-accordion>
    <glx-accordion-item></glx-accordion-item>
    <glx-accordion-item></glx-accordion-item>
    <glx-accordion-item></glx-accordion-item>
  </glx-accordion>

  <hr>

  <glx-tab-group>
    <glx-tab #tab1 title="Inicio" [active]="true">
      <p>Contenido 1</p>
    </glx-tab>
    
    <glx-tab #tab2 title="Nosotros">
      <p>Contenido 2</p>
    </glx-tab>
  </glx-tab-group>

  <glx-tab-group>
    <glx-tab #tab1 title="Nuestro Equipo"  [active]="true">
      <p>Contenido 3</p>
    </glx-tab>
    
    <glx-tab #tab2 title="Contactanos">
      <p>Contenido 4</p>
    </glx-tab>

    <glx-tab #tab3 title="Perfil">
      <p>Contenido 5</p>
    </glx-tab>
  </glx-tab-group>

  <glx-tab-group>
    <glx-tab title="Nuestro Equipo"  [active]="true">
      <p>Contenido 3</p>
    </glx-tab>
    <glx-tab title="Nuestro Equipo"  >
      <p>Contenido 3</p>
    </glx-tab>
    <glx-tab title="Nuestro Equipo"  >
      <p>Contenido 3</p>
    </glx-tab>
    
    <glx-tab title="Contactanos">
      <p>Contenido 4</p>
    </glx-tab>

    <glx-tab title="Perfil">
      <p>Contenido 5</p>
    </glx-tab>
  </glx-tab-group>

  <hr>

  <glx-button></glx-button>
  <glx-button [color]="btnColor"></glx-button>
  <glx-button color="secondary" ></glx-button>
  <glx-button color="danger"></glx-button>
  <glx-button color="success"></glx-button>

  <hr>

  <glx-draggable-file (droppedFile)="addFile($event)" ></glx-draggable-file>

  <p *ngFor="let file of files">{{ file.name }}</p>

  <div class="item">Hola Mundo</div>

</div>